@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
/* line 8, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
body {
  font-family: "Roboto", sans-serif;
}

/* line 14, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 768px;
}

/* line 22, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.navbar-light .navbar-toggler {
  border: none;
}

/* line 25, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.navbar-brand {
  font-size: 14px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}

/* line 31, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.custom-toggler-icon img {
  width: 30px;
  height: 30px;
}

/* line 36, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section {
  margin-bottom: 20px;
}

/* line 42, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.hero-banner {
  padding: 15px 15px 5px 5px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  background-color: #c80909;
  text-emphasis: 10px;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 56, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.title-2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

/* line 63, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.carousel-indicators {
  bottom: -50px;
}

/* line 65, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.carousel-indicators li {
  background-color: #c80909;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* line 73, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.wrap-card {
  display: flex;
  justify-content: space-between;
}

/* line 77, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.wrap-card .store-galary {
  background-color: #c80909;
  padding: 20px 8px 25px 8px;
  width: auto;
  margin: 0 5px;
}

/* line 82, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.wrap-card .store-galary .card-cody {
  position: relative;
}

/* line 84, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.wrap-card .store-galary .card-cody img {
  flex-basis: 70px;
  max-width: 70px;
  max-height: 70px;
  height: 70px;
}

/* line 90, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.wrap-card .store-galary .card-cody .logo {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -11px;
  right: 10px;
}

/* line 103, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page-food-drinks .banner-fdrinks .hero-fdrinks {
  display: flex;
}

/* line 105, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page-food-drinks .banner-fdrinks .hero-fdrinks .logo {
  z-index: 99;
  width: 50%;
  height: 50%;
}

/* line 110, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page-food-drinks .banner-fdrinks .hero-fdrinks .ovel {
  width: auto;
  margin-left: -30px;
}

/* line 118, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-stock .card {
  border: none;
}

/* line 120, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-stock .card .card-body {
  padding: 0;
}

/* line 122, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-stock .card .card-body img {
  max-height: 180px;
  border-radius: 5px;
}

/* line 126, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-stock .card .card-body .card-title {
  margin-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 132, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-stock .card .card-body .price-tag {
  color: #c80909;
  font-weight: bold;
  font-size: 18px;
  margin-top: -10px;
}

/* line 142, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-instore {
  margin-top: 30px;
}

/* line 144, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-instore .bnr-instore {
  display: flex;
  background-color: #c80909;
  letter-spacing: 3px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  width: 60%;
  padding: 10px;
}

/* line 154, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-instore .bnr-instore .icon {
  width: 30px;
  margin-right: 14px;
}

/* line 159, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.section-instore .discribe {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 14px;
  font-weight: 600;
}

/* line 167, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page1 {
  background-image: url("../images/CityLights.jpg");
  background-color: black;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
}

/* line 175, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page1 .navbar-toggler a {
  color: #ffffff;
}

/* line 179, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.page1 .overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: .8;
}

/* line 186, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.bnr-welcome {
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  justify-content: center;
}

/* line 193, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.bnr-welcome .hero-title {
  font-size: 34px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: -10px;
}

/* line 201, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.bnr-welcome .hero-sub-title {
  text-transform: uppercase;
}

/* line 205, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.bnr-welcome .logo-reword img {
  width: 150px;
}

/* line 210, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.red-box {
  background-color: #c80909;
  padding: 25px;
  margin: auto;
  text-align: center;
  margin: 15px 30px;
}

/* line 217, ../../Pokitpal/pokitpal-gofc-challenge/scss/style.scss */
.title-4 {
  font-size: 18px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */