################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test-gofc/config
/.vs/test-gofc/v16
/.vs
